@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom 3D Flip Animation */
.perspective-2000 { perspective: 2000px; }
.preserve-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; }
.rotate-y-180 { transform: rotateY(180deg); }

/* Keyboard shadow */
/* Light mode kbd shadow */
kbd {
  box-shadow: 0 4px 0 0 #cbd5e1;
}
/* Dark mode kbd shadow */
.dark kbd {
  box-shadow: 0 14px 0 0 #020617;
}

/* Selection */
::selection {
  background-color: rgba(99, 102, 241, 0.3);
}

/* Scrollbar */
/* Light mode scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 2px;
}
/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-track {
  background: #1e293b;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #334155;
}
